# dependencies
/frontend/node_modules
/backend/venv
/.pnp
.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
*.pyc
__pycache__/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Backend
/backend/.env

# Frontend
/frontend/.env